@import url(https://db.onlinewebfonts.com/c/ab0e848e0e83a85a5af69f5acf1ebe73?family=Cursed+Timer+ULiL); 

body {
    margin: 0;
    background-color: darkslateblue;
    font-family: Cursed Timer ULiL Font; /* use font */
}

#home {
    padding: 0px 40px 0px 40px;
    color: aliceblue;
    text-align: center;
}

#homescore {
    font-family: "Cursed Timer ULiL"; 
    background-color: black;
    font-size: 30px;
    color: red;
    padding: 20px 50px 20px 50px;
    margin: 10px 20px 30px 20px;
    text-align: center;
}

.buttonhome {
    text-align: center;
}

#hpone {
    font-family: "Cursed Timer ULiL"; 
    background-color: transparent;
    border-color: red;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 0px;
    color: aliceblue;
}

#hptwo {
    font-family: "Cursed Timer ULiL"; 
    background-color: transparent;
    border-color: red;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 0px;
    color: aliceblue;
}

#hpthree {
    font-family: "Cursed Timer ULiL"; 
    background-color: transparent;
    border-color: red;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 0px;
    color: aliceblue;
}

#guest {
    padding: 0px 40px 0px 40px;
    color: white;
    text-align: center;
}

#guestscore {
    font-family: "Cursed Timer ULiL"; 
    background-color: black;
    font-size: 30px;
    color: red;
    padding: 20px 50px 20px 50px;
    margin: 10px 20px 30px 20px;
    text-align: center;
}

.buttonguest {
    text-align: center;
    
}


#gpone {
    font-family: "Cursed Timer ULiL"; 
    background-color: transparent;
    border-color: green;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 0px;
    color: aliceblue;
}

#gptwo {
    font-family: "Cursed Timer ULiL"; 
    background-color: transparent;
    border-color: green;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 0px;
    color: aliceblue;
}

#gpthree {
    font-family: "Cursed Timer ULiL"; 
    background-color: transparent;
    border-color: green;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 0px;
    color: aliceblue;
}

#redo {
    font-family: "Cursed Timer ULiL"; 
    background-color: transparent;
    border-color: white;
    border-radius: 5px;
    color: aliceblue;
}

.container {
    display: flex;
    justify-content: space-around;
}